<?xml version="1.0" encoding="ISO-8859-1"?><!DOCTYPE web-app    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>  
<!-- ================ Security Constraints for Testing =============== -->  <security-constraint>    
<web-resource-collection>   
<web-resource-name>The Entire Web Application</web-resource-name>     <url-pattern>/admin.html</url-pattern> 
<url-pattern>/servlet/forumupdate</url-pattern>   
<url-pattern>/servlet/viewchatlog</url-pattern>   
<url-pattern>/AddMessage.html</url-pattern>   
</web-resource-collection>    
<auth-constraint>      
<role-name>tomcat</role-name>    
</auth-constraint>  
</security-constraint>  
<login-config> 
<auth-method>FORM</auth-method>  
<form-login-config>    
<form-login-page>/login.html</form-login-page>   <form-error-page>/loginError.html</form-error-page>  
</form-login-config> 
</login-config>  
<security-role>    
<description>      
An example role defined in "conf/tomcat-users.xml"    
</description>    
<role-name>tomcat</role-name>  
</security-role>
</web-app>