<!-- Creation date: 1/3/2004 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="0">
<link type="text/css" rel="STYLESHEET" href="/eMarazm/styles.css">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
<center>
<span class="title">Congratulations!!!</span><br>
<span class="text">You have successfully finished test <span class="text1"id="testTitle"></span><br>
at <span class="text1" id="testDate"></span><br></span>
<br>
<span class="text">Your grade is: <span class="comment" id="grade"></span><br></span>
</center>
</body>
</html>