<html>
<!-- Creation date: 1/26/2004 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="0">
<link type="text/css" rel="STYLESHEET" href="/eMarazm/styles.css">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
<center>
<input type="button" value="Change info" onClick="window.open('changeinfo','right')"/>
<input type="button" value="Show users" onClick="window.open('showusers','right')"/>
<input type="button" value="View messages" onClick="window.open('viewmessages','right')"/>
<br>
<br>
<span id="compose"></span>
<span id="stats"></span>
<span id="register"></span>
<span id="logs"></span>
<span id="console"></span>
<br>
<br>
<span class="comment">User Info</span>
<br>
<br>
<table cellpadding="6" cellspacing="1" border="0">
	<tr>
		<td class="text">ID: </td>
		<td><span id="userID"></span></td>
	</tr>
	<tr>
		<td class="text">First Name: </td>
		<td><span id="firstName"></span></td>
	</tr>
	<tr>
		<td class="text">Last Name: </td>
		<td><span id="lastName"></span></td>
	</tr>
	<tr>
		<td class="text">email: </td>
		<td><span id="email"></span></td>
	</tr>
	<tr>
		<td class="text">Group: </td>
		<td><span id="group"></span></td>
	</tr>
</table>
<br>
<span class="text">You have <span class="text1" id="unRead"></span> unread messages</span>
</form>
</center>
</body>
</html>