<html>
<!-- Creation date: 1/20/2004 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="0">
<link type="text/css" rel="STYLESHEET" href="/eMarazm/styles.css">
<title>Test Info</title>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
<center>
<table cellpadding="6" cellspacing="1" border="0">
	<caption align="center">Test info<caption>
	<tr>
		<td class="text">Title: </td>
		<td><span id="testTitle"></span></td>
	</tr>
	<tr>
		<td class="text">Topic: </td>
		<td><span id="testTopicName"></span></td>
	</tr>
	<tr>
		<td class="text">Type: </td>
		<td><span id="testType"></span></td>
	</tr>
	<tr>
		<td class="text">Author: </td>
		<td><a href="userinfo?userID="></a></td>
	</tr>
	<tr>
		<td class="text">Creation date: </td>
		<td><span id="creationDate"></span></td>
	</tr>
	<tr>
		<td class="text">Solved: </td>
		<td><span id="testDate"></span></td>
	</tr>
	<tr>
		<td class="text">Grade: </td>
		<td><span id="grade"></span></td>
	</tr>
</table>
<br>
<span id="formDefinition" style="">
<!-- Start of FORM -->
<form method="POST" action="">
<input type="hidden" name="testID" value="">
<input type="submit" value="">
</form>
<!-- End of FORM -->
</span>
</center>
</body>
</html>