<html>
<!-- Creation date: 1/17/2004 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="0">
<link type="text/css" rel="STYLESHEET" href="/eMarazm/styles.css">
<title></title>
<style>
body{
	font: 10pt Verdana,sans-serif;
	color: navy;
	}
.trigger
{
	cursor: pointer;
	cursor: hand;
}
.branch
{
	display: none;
	margin-left: 16px;
}
</style>
<meta name="description" content="">
<meta name="keywords" content="">
<script language="JavaScript">
<!-- Script Begin
var openImg = new Image();
	openImg.src = "/eMarazm/Images/TreeIcons/open.gif";
var closedImg = new Image();
	closedImg.src = "/eMarazm/Images/TreeIcons/closed.gif";
function showBranch(branch)
{
	var objBranch = document.getElementById(branch).style;
	if(objBranch.display=="block")
		objBranch.display="none";
	else
 		objBranch.display="block";
}

function swapFolder(img) 
{
	objImg = document.getElementById(img);
	if(objImg.src!=openImg.src)
	{
		objImg.src = openImg.src;
	}
	else
	{
		objImg.src = closedImg.src;
	}
}
//  Script End -->
</script>
</head>
<body>
<center>
<EMBED src="/eMarazm/Images/clock.swf" quality=high bgcolor=#F4F4F4 WIDTH="150" HEIGHT="150" NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
</center>
<div class="trigger" onClick="showBranch('topics'); swapFolder('tests')">
	<img src="/eMarazm/Images/TreeIcons/closed.gif" border="0" id="tests">
	Tests
</div>
	<span class="branch" id="topics">
	</span>
<div class="trigger" onClick="window.open('profile','right')">	
	<img src="/eMarazm/Images/TreeIcons/_profile.gif" border="0">
	Profile
</div>
<div class="trigger" onClick="window.open('/eMarazm/chat.html','right')">	
	<img src="/eMarazm/Images/TreeIcons/chat.gif" border="0">
	Chat
</div>
<div class="trigger" onClick="window.open('logoff','_parent')">	
	<img src="/eMarazm/Images/TreeIcons/logoff.gif" border="0">
	Log off
</div>
</body>
</html>