<html>
<!-- Creation date: 1/20/2004 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="0">
<link type="text/css" rel="STYLESHEET" href="/eMarazm/styles.css">
<title>User Information</title>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
<center>
<span class="comment" id="publicDataMessage"></span>
<br>
<br>
<table cellpadding="6" cellspacing="1" border="0">
	<caption align="center"><caption>
	<tr>
		<td class="text">Name: </td>
		<td><span id="name"></span></td>
	</tr>
	<tr>
		<td class="text">Group: </td>
		<td><span id="group"></span></td>
	</tr>
	<tr>
		<td class="text">e-mail: </td>
		<td><span id="email"></span></td>
	</tr>
	<tr>
		<td class="text">Public info: </td>
		<td><span id="publicData"></span></td>
	</tr>
</table>
<br>
<span class="text">To send message to user click <a href="sendmessage?toID=">here</a></span>
</center>
</body>
</html>